
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

body{
    display:flex ;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   
    background: url('forest.jpg' ) no-repeat;
    background-size: cover;
    background-position: center;
}



.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
/* elements en dessous des liens au survole */
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    border-radius: 5px;
    width: 100%;
    height: 3px ;
    background: #fff;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
/* Permet de faire apparaitre le text-decoration des liens et les faire disparaitre */
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.navigation .btnLogin_popup{
    width: 130px;
    height: 50px;
    background: transparent;
    font-weight: 500;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    font-size: 1.1em;
    cursor: pointer;
    color: #fff;
    margin-left: 40px;
    transition: .5s;
}
/*l'effet arrier plan du buttom*/
.navigation .btnLogin_popup:hover{
    background: #fff ;
    color: #162938;
}
/* Mise en forme du formulaire */
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    transform: scale(0);
   transition:  transform .5s ease, height .2s ease;
}
.wrapper.active{
    height: 400px;
}
.wrapper.active-popup{
    transform: scale(1);
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #031624ee;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    
}
.wrapper .form-box{
    width: 100% ;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}
.form-box h2{
    font-size: 2em;
    color: #030b12;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #010b13;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

/*permet aux elements selectionner tel que password d'aller vers le haut*/
.input-box input:focus~label,
.input-box input:valid~label{
   top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border:  none;
    outline: none;
    font-size: 1em;
    color: #030b12;
    font-weight: 600;
    padding: 0 35px 0 5px; 
}
.input-box .icon{
    position: absolute;
    right: -8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    color: #010b13;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #030b12;
    margin-right: 3px;
}
.remember-forgot a{
    color: #030b12;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #010b13;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
}
.login-register{
    font-size: .9em;
    text-align: center;
    color: #162938;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-link{
    font-size: .9em;
    text-align: center;
    color: #162938;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-link p a{
    font-weight: 500;
    color: #020202;
    text-decoration: none;
}
.login-register p a{
    font-weight: 500;
    color: #020202;
    text-decoration: none;
}
.login-register p a:hover{
    text-decoration: underline;
}